:root {
    --alice-blue: #E7ECEF;
    --yale-blue: #274C77;
    --cerulean-frost: #6096BA;
    --baby-blue-eyes: #a3cff2;
    --baby-blue-eyes-opacity: 163, 206, 241;
    --battleship-grey: #8B8C89;
}

body {
    min-height: 100vh;
    margin: 0px;
}

.header {
    max-width: 100%;
    height: 10vh;
    background-color: var(--battleship-grey);
    display: flex;
    align-items: center;
    font-size: 40px;
    padding-left: 40px;
    color: var(--yale-blue);
    font-weight: bold;
}

.body-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 85vh;
}

.sidebar  {
    height: 80vh;
    background-color: var(--cerulean-frost);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3vh;
}

.sidebar-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
}

.add-task {
    margin-bottom: 20px;
    
    font-size: 28px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--battleship-grey);
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#horisontal-line {
    width: 70%;
    height: 3px;
    border-radius: 2px;
    background-color: lightgray;
    
}

.dropdown, .sort-dropdown {
    display: inline-block;
    position: relative;
  }

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sort-dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

.to-do-body {
    display: flex;
    flex-direction: column;
    background-color: var(--alice-blue);
}

.body-header {
    display: flex;
    justify-content: space-between;
    padding: 0px 150px;
    background-color: var(--baby-blue-eyes);
    align-items: center;
    height: 3rem;
}

.body-title {
    font-size: 28px;
}

.list-body {
    margin: 50px 100px;
}

.list-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    margin-bottom: 1rem;
    padding: 0px 1rem;
    background-color: rgba(var(--baby-blue-eyes-opacity), 0.5);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.checkbox-name {
    font-size: 20px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 10px;
}

.checkbox {
    display:inline-block;
    width:25px;
    height:19px;
    
       
}

.list-items {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.list-items > img {
    height: 1.5rem;
}

.open-task {
    height: 2rem;
}

.header-buttons {
    display: flex;
    gap: 40px;
    align-items: center;
}

.sort-dropdown-button  {
    height: 1.5rem;
    display: flex;
    align-items: center;
    width: 7rem;
    justify-content: space-between;
}

.sort-dropdown-button > img {
    height: 1.2rem;
}

.search-bar {
    display: flex;
    align-items: center;
}

.switch-layout-btns > img {
    height: 1.8rem;
}

.modal {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding: 1rem;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.3s;
}

.modal.is-visible {
    transform: translate(-50%, -50%) scale(1);
}

.modal-dialog {
    position: relative;
    width: 750px;
    height: 350px;
    border-radius: 8px;
    overflow: auto;
    background: rgb(241, 241, 241);
    border: 2px gray solid;
}

.close-modal {
    height: 25px;
    width: 25px;
    border: none;
    background-color: transparent;
}

.modal-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active {
    display: block;
}

.inputs {
    outline: none;
    width: 30vh; 
    height: 22px;
    border-radius: 4px;
    border: #E5E7EB solid 1px;
}

.task-form {
    display: grid;
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 220px 50px;
    gap: 10px;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    
}

#due-date {
    border: none;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
}

.submit-btn {
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
}

.submit {
    width: 80px;
    height: 40px;
}

.form-div {
    display: flex;
    flex-direction: column;
}

li {
  list-style: none;  
}

.project-modal-dialog {
    height: 200px;
    width: 300px;
    position: relative;
    border-radius: 8px;
    overflow: auto;
    background: rgb(241, 241, 241);
    border: 2px gray solid;
}